.Home {
}
.layout-nav-sider {
  background-color: #211d1e;
}
.layout-category {
  margin-left: 342px;
  margin-top: -1px;
}
.toll {
  background-color: #211d1e;
  height: 255px;
  width: 80px;
  align-items: center;
  border-radius: 8px;

  .tollfactor {
    border-radius: 8px;
    margin-left: auto;
    margin-top: 17px;
    padding: 0 4px;
    width: 80px;
  }
}
.category-products {
  margin-left: 338px;
}
