.voucher{
    &-Header{
        text-align: center;
        font-size:58px;
        color:#fff;
        margin-top: 38px;
        margin-bottom: 34px;
    }

    &__container{
        width:92%;
        min-height:426px;
        background-color:#fff;
        border-radius: 7px;
        margin-bottom: 37px;
    }
    
    &__item{
        display:flex;
        min-height: 72px;
        align-items: center;
        justify-content: space-around;

        &:not(:last-child)
        {
            border-bottom: 1px solid #211d1e;
        }
    }

    &__text{
        font-size:24px;
        margin: 0;
        padding: 0;
    }

    &__icon{

    }
}